<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Actualités Capa Intérim - Agence de recrutement et offres d'emploi à Châteaubriant - </title>

  <meta name="description" content="">

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  <link href="./css/font.css" rel="stylesheet">


  <link href="./css/bootstrap.min.css" rel="stylesheet">
  <link href="./css/font-awesome.min.css" rel="stylesheet" >

  <link href="./css/style.css" rel="stylesheet">


</head>

<body>

  <header>

    <div id="menu">
      <div class="container">
        <nav class="navbar navbar-default">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="./">
              <img alt="Logo Capa Intérim" src="./images/logo-capa-interim.png" class="img-responsive">
            </a>
          </div>

          <div class="collapse navbar-collapse" id="nav">
            <ul class="nav navbar-nav">
              <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Je cherche un job <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="offres.html">Offres d'emploi</a></li>
                  <li><a href="candidature-spontanee.html">Candidature spontanée</a></li>
                </ul>
              </li>
              <li><a href="recruteurs.html">Espace recruteur</a></li>
              <li><a href="actualites.html">Actualités</a></li>
              <li class="active"><a href="contact.html">Contact</a></li>
              <li><a href="moncompte.html" class="compte">Mon compte</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>

  </header>


  <div id="page-title">
    <div class="container">
      <h1>Contacter Capa Intérim</h1>
    </div>
  </div>

  <div id="breadcrumb">
    <div class="container">
      <ul>
        <li><a class="home" href="./">Accueil</a></li>
        <li>Contact</li>
      </ul>
    </div>
  </div>

  <br/><center><div id="map" style="align: center;width:700px;height:500px;background:yellow"></div></center><br/>
  <script>
  function myMap()
  {
    var map = new google.maps.Map(document.getElementById("map"));
    var geocoder = new google.maps.Geocoder();
    var x = 0, y = 0, z = 0;

    "{% set i = 0 %}"
    "{% for agency in agencies %}"
    var address = "{{ agency.address }}".concat(", ", "{{ agency.city }}");
    geocoder.geocode({'address': address}, function(results, status)
    {
      var marker = new google.maps.Marker({map: map, position: results[0].geometry.location});
      var infowindow = new google.maps.InfoWindow({content: "{{ agency.name }}"});
      var lat = 0, sqroot = 0, lng = 0

      marker.addListener('click', function() {
        infowindow.open(map, marker);
      });
      google.maps.event.addListenerOnce(map, 'tilesloaded', function() {
        infowindow.open(map, marker);
      });
      lat = results[0].geometry.location.lat() * Math.PI / 180;
      lng = results[0].geometry.location.lng() * Math.PI / 180;
      x += Math.cos(lat) * Math.cos(lng);
      y += Math.cos(lat) * Math.sin(lng);
      z += Math.sin(lat);

      "{% if i + 1 == agencies|length %}"
      x = x / "{{ agencies|length }}";
      y = y / "{{ agencies|length }}";
      z = z / "{{ agencies|length }}";
      lng = Math.atan2(y, x);
      sqroot = Math.sqrt(x*x + y*y);
      lat = Math.atan2(z, sqroot);
      map.setCenter(new google.maps.LatLng(lat * 180 / Math.PI, lng * 180 / Math.PI))
      map.setZoom(8);
      "{% endif %}"
    });
    "{% set i = i + 1 %}"
    "{% endfor %}"
  }

  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbchHd25hbpCzxj0Z7muPMl4DxCw85hxE&callback=myMap"></script>

  <footer>
    <div id="agences-list">
      <div class="container">

        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <div id="contact-form">
              <h4>Votre Message</h4>
              <p>Prénom</p>
              <input type="text" name="lname" placeholder="Ex: Rousseau">
              <p>Nom</p>
              <input type="text" name="fname" placeholder="Ex: Camille">
              <p>E-mail</p>
              <input type="email" name="email" placeholder="contact@orange.fr">
              <p>Message</p>
              <textarea rows="3" type="text" name="message" placeholder="Votre message"></textarea>
            </div>
            <a class="btn btn-default submit" type="submit" style="width: 100%;">Envoyer</a>
          </div>
          <div class="col-md-3"></div>
        </div>

        <h2>Nos agences</h2>

        {% set i = 0 %}
        {% for agency in agencies %}
        {% if i == 0 %}
        <div class="row">
          {% endif %}

          <div class="col-md-3 col-sm-6">
            <div class="agence">
              <h3>{{ agency.name }}</h3>
              <a class="tel" href="tel:{{ agency.phone }}".replace(/\s/g, '');>{{ agency.phone }}</a>
              <a class="adresse" href="https://goo.gl/maps/uNhxuXL4a6B2" target="_blank">{{ agency.address }}<br/>{{ agency.city }}</a>
              <a class="email" href="#">Envoyer un email</a>
            </div>
          </div>

          {% set i = i + 1 %}
          {% if i == 4 %}
        </div>
        {% set i = 0 %}
        {% endif %}
        {% endfor %}

      </div>
    </div>
  </footer>
  <div id="social" class="grey_bg">
    <div class="container">
      <ul>
        <li><a href="" target="_blank" ><i class="fa fa-twitter" aria-hidden="true"></i>
        </a></li>
        <li><a href="http://www.facebook.com/capainterim/" target="_blank" ><i class="fa fa-facebook" aria-hidden="true"></i>
        </a></li>
        <li><a href="" target="_blank" ><i class="fa fa-linkedin" aria-hidden="true"></i>
        </a></li>
        <li><a href="" target="_blank" ><i class="fa fa-google-plus" aria-hidden="true"></i>
        </a></li>
      </ul>
    </div>
  </div>
  <div id="copyright">
    <div class="container">
      <p>Copyright © 2017 CAPA INTÉRIM | <a href="">Mentions légales</a></p>
    </div>
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <script src="./js/bootstrap.min.js"></script>

</body>



</html>
