<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ entity.name }}</title>

  <meta name="title" content="{{ entity.metaTitle }}">
  <meta name="description" content="{{ entity.metaDescription }}">

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  <link href="{{ asset('css/font.css') }}" rel="stylesheet">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

  <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet" >

  <link href="{{ asset('css/style.css') }}" rel="stylesheet">

  <meta name="robots" content="index">
  <meta name="googlebot" content="index">
  <script>
  $('meta[name=robots]').attr("content", ("{{ entity.indexed }}" ? "index" : "noindex"));
  $('meta[name=googlebot]').attr("content", ("{{ entity.indexed }}" ? "index" : "noindex"));
  </script>


</head>

<body>

  <header>

    <div id="menu">
      <div class="container">
        <nav class="navbar navbar-default">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">
              <img alt="Logo Capa Intérim" src="{{ asset('images/logo-capa-interim.png') }}" class="img-responsive">
            </a>
          </div>

          <div class="collapse navbar-collapse" id="nav">
            <ul class="nav navbar-nav">
              <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Je cherche un job <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="offres.html">Offres d'emploi</a></li>
                  <li><a href="candidature-spontanee.html">Candidature spontanée</a></li>
                </ul>
              </li>
              <li class="active"><a href="entity.html">Espace recruteur</a></li>
              <li><a href="actualites.html">Actualités</a></li>
              <li><a href="contact.html">Contact</a></li>
              <li><a href="moncompte.html" class="compte">Mon compte</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>

  </header>

  <div id="content"></div>
  {{ entity.content|raw }}

  <footer>
    <div id="agences-list">
      <div class="container">
        <h2>Nos agences</h2>
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="agence">
              <h3>Agence Vay</h3>
              <a class="tel" href="tel:0240878686">02 40 87 86 86</a>
              <a class="adresse" href="https://goo.gl/maps/b1GQYLi9AYv"   target="_blank">2 rue du stade<br />44170 Vay</a>
              <a class="email" href="#">Envoyer un email</a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="agence">
              <h3>Agence Châteaubriant</h3>
              <a class="tel" href="tel:0240280593">02 40 28 05 93</a>
              <a class="adresse" href="https://goo.gl/maps/uNhxuXL4a6B2" target="_blank">14 Rue de Coueré<br />44110 Châteaubriant</a>
              <a class="email" href="#">Envoyer un email</a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="agence">
              <h3>Agence Montaigu</h3>
              <a class="tel" href="tel:0251315747">02 51 31 57 47</a>
              <a class="adresse" href="https://goo.gl/maps/SmcspkqkJ512"  target="_blank">12 Ter rue René Descartes<br />85600 Boufferé</a>
              <a class="email" href="#">Envoyer un email</a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="agence">
              <h3>Agence Sablé-sur-Sarthe</h3>
              <a class="tel" href="tel:0243621420">02 43 62 14 20</a>
              <a class="adresse" href="https://goo.gl/maps/1UNxUvdrucG2"  target="_blank">28 rue Haute Saint-Martin<br />72300 Sable-sur- Sarthe</a>
              <a class="email" href="#">Envoyer un email</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <div id="social" class="grey_bg">
    <div class="container">
      <ul>
        <li><a href="" target="_blank" ><i class="fa fa-twitter" aria-hidden="true"></i>
        </a></li>
        <li><a href="http://www.facebook.com/capainterim/" target="_blank" ><i class="fa fa-facebook" aria-hidden="true"></i>
        </a></li>
        <li><a href="" target="_blank" ><i class="fa fa-linkedin" aria-hidden="true"></i>
        </a></li>
        <li><a href="" target="_blank" ><i class="fa fa-google-plus" aria-hidden="true"></i>
        </a></li>
      </ul>
    </div>
  </div>
  <div id="copyright">
    <div class="container">
      <p>Copyright © 2017 CAPA INTÉRIM | <a href="">Mentions légales</a></p>
    </div>
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <script src="{{ asset('js/bootstrap.min.js') }}"></script>

</body>



</html>
