<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Capa Intérim - Agence de recrutement et offres d'emploi à Châteaubriant - </title>

  <meta name="description" content="Capa Intérim vous accompagne dans votre recherche d'emploi. Découvrez nos offres d'emploi en intérim, CDD, CDI et alternance en Pays de Loire. ">

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  <link href="./css/font.css" rel="stylesheet">


  <link href="./css/bootstrap.min.css" rel="stylesheet">
  <link href="./css/font-awesome.min.css" rel="stylesheet" >

  <link href="./css/style.css" rel="stylesheet">


</head>

<body>

  <header>

    <div id="menu">
      <div class="container">
        <nav class="navbar navbar-default">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">
              <img alt="Logo Capa Intérim" src="./images/logo-capa-interim.png" class="img-responsive">
            </a>
          </div>

          <div class="collapse navbar-collapse" id="nav">
            <ul class="nav navbar-nav">
              <li class="dropdown active"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Je cherche un job <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li class="active"><a href="offres.html">Offres d'emploi</a></li>
                  <li><a href="moncompte.html">Candidature spontanée</a></li>
                </ul>
              </li>
              <li><a href="recruteurs.html">Espace recruteur</a></li>
              <li><a href="actualites.html">Actualités</a></li>
              <li><a href="contact.html">Contact</a></li>
              <li><a href="moncompte.html" class="compte">Mon compte</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>

  </header>

  <div id="slider">
    <img src="./images/offres.jpg" alt="Espace Offres d'Emploi" />
  </div>

  <div id="breadcrumb">
    <div class="container">
      <ul>
        <li><a class="home" href="./">Accueil</a></li>
        <li>Offres d'Emploi</li>
      </ul>
    </div>
  </div>

  <div id="search">
    <div class="container">
      <div class="page-title">
        <h2>Offres d'emploi</h2>
      </div>
      <div id="search-form">
        <div class="col-md-3 col-sm-6">
          <div id="keyword">
            <input id="keywordF" type="text" placeholder="Mots-clés" name="keyword" />
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div id="city">
            <input id="cityF" type="text" placeholder="Localisation" name="city" />
          </div>
        </div>
        <div class="col-md-2 col-sm-4">
          <div id="type">
            <select id="typeF">
              <option value="" disabled selected >Contrat</option>
              <option value="interim">Intérim</option>
              <option value="cdd">CDD</option>
              <option value="cdi">CDI</option>
            </select>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div id="activite">
            <input id="activityF" type="text" placeholder="Secteur d'activité" name="activity" />
          </div>
        </div>
        <div class="col-md-1 col-sm-2">
          <a class="btn btn-default search" onclick="_search()" type="submit"><i class="fa fa-search" aria-hidden="true"></i></a>
          <script>
          function _search()
          {
            moreOffer(true);
          }
          </script>
        </div>
        <div class="clearfix"></div>
      </div>

      <div id="results">
        <h2>Consultez nos dernières offres</h2>
        {% set i = 0 %}
        {% for offer in offers if (i % 10) or (i == 0) %}
        <div class="annonce">
          <div class="col-sm-4">
            <h3 id="title{{ i }}">{{ offer.title }}</h3>
          </div>

          <div class="col-md-7 col-sm-6" style="width: 665px; overflow: auto;">
            <p id="description{{ i }}"></p>
            <script>
            document.getElementById("description"+"{{ i }}").innerText = offerDescription("{{ offer.description_txt }}");
            function offerDescription(content)
            {
              var parser = new DOMParser;
              var content = content;

              content = parser.parseFromString(content, 'text/html').body.textContent;
              content = content.replace(/<br>/g, '');
              content = content.replace(/<div><div>/g, '\n');
              content = content.replace(/<div>/g, '\n');
              content = content.replace(/<\/div>/g, '');
              var str = content.substring(0, 200);

              if (content != str) {
                str += "...";
              }
              return str;
            }
            </script>
          </div>
          <div class="col-md-1 col-sm-2 no-padding">

            <a id="{{ offer.id }}" class="btn btn-default more" onclick="seeDetails(this)"><i class="fa fa-plus" aria-hidden="true"></i>Voir plus</a>
            <script>
            function seeDetails(item)
            {
              var id = $(item).attr("id");
              window.location.href = "{{ path('offer_details') }}"+"?id="+id;
            }
            </script>
          </div>
        </div>
        {% set i = i + 1 %}
        {% endfor %}
      </div>
      <a class="btn btn-default yellow" onclick="moreOffer(false)">Plus d'offres</a>
      <script>
      var nodeSave = document.getElementsByClassName('annonce');
      nodeSave = nodeSave[0].cloneNode(true);
      function moreOffer(remove)
      {
        var div = document.getElementById('results');
        var node = document.getElementsByClassName('annonce');

        if (remove) {
          while (div.firstChild) {
            div.removeChild(div.firstChild);
          }
        }
        var length = document.getElementsByClassName('annonce').length;

        for (var i = 0; i < "{{ offers|length }}"; ++i)
        {
          if (i+length < "{{ offers|length }}") {
            $.ajax({
              url: '{{ path('inc_i_offer') }}',
              type: "POST",
              dataType: 'text',
              data: {
                'i': i+length
              },
              success: function(result) {
                node = nodeSave.cloneNode(true);
                result = jQuery.parseJSON(result);
                node.querySelector('#title0').innerText = result.title;
                node.querySelector('.btn').id = result.id;
                node.querySelector('#description0').innerText = offerDescription($('<div/>').text(result.description).html());
                if (checkFilter(result)) {
                  div.appendChild(node);
                }
              }
            });
          }
        }
      }

      function checkFilter(offer)
      {
        var keyword = document.getElementById('keywordF').value;
        var city = document.getElementById('cityF').value;
        var type = document.getElementById('typeF').value;
        var domain = document.getElementById('activityF').value;

        if (!keywordCheck(keyword, offer.title)) {
          if (keyword) {
            return false;
          }
        }
        if (!(city && city.toLowerCase() == offer.city.toLowerCase())) {
          if (city) {
            return false;
          }
        }
        if (!(type && ((offer.type == false && type == "cdi") || (offer.type == true && type != "cdi")))) {
          if (type) {
            return false;
          }
        }
        if (!(domain && domain.toLowerCase() == offer.domain.toLowerCase())) {
          if (domain) {
            return false;
          }
        }
        return true;
      }

      function keywordCheck(keyword, title)
      {
        var keywords = keyword.split(' ');
        var titleKeys = title.split(' ');

        for (var i = 0; keyword && i < keywords.length; ++i) {
          for (var t = 0; title && t < titleKeys.length; ++t) {
            if ((keywords[i].toLowerCase() == titleKeys[t].toLowerCase())) {
              return true;
            }
          }
        }
      }
      </script>
    </div>
  </div>
  <div id="liens">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-6">
          <h3>Je cherche un job</h3>
          <ul>
            <li><a href="">Nos offres d'emploi</a></li>
            <li><a href="">Candidature spontanée</a></li>
            <li><a href="">Mon espace personnel</a></li>
            <li><a href="">Agences d'intérim</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6">
          <h3>Nos types de mission</h3>
          <ul>
            <li><a href="">Emplois en CDD à Châteaubriant</a></li>
            <li><a href="">Contrats CDI en Pays-de-Loire</a></li>
            <li><a href="">Missions intérim en Loire-Atlantique</a></li>
            <li><a href="">Travail temporaire dans l'Ouest</a></li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-6">
          <h3>Nos dernières offres d'emploi</h3>
          <ul>
            <li><a href="">Garagiste à Nozay (44) Intérim</a></li>
            <li><a href="">Chef de chantier à Châteaubriant (44) CDI</a></li>
            <li><a href="">Agent de Production à Vay (85) Intérim</a></li>
            <li><a href="">Boulanger Pâtissier au Mans (72) CDD</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-6">
          <h3>Capa intérim</h3>
          <ul>
            <li><a href="">Espace recruteurs</a></li>
            <li><a href="">Nos actualités</a></li>
            <li><a href="">Nos agences</a></li>
            <li><a href="">Contactez-nous</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div id="social" class="grey_bg">
    <div class="container">
      <ul>
        <li><a href="" target="_blank" ><i class="fa fa-twitter" aria-hidden="true"></i>
        </a></li>
        <li><a href="http://www.facebook.com/capainterim/" target="_blank" ><i class="fa fa-facebook" aria-hidden="true"></i>
        </a></li>
        <li><a href="" target="_blank" ><i class="fa fa-linkedin" aria-hidden="true"></i>
        </a></li>
        <li><a href="" target="_blank" ><i class="fa fa-google-plus" aria-hidden="true"></i>
        </a></li>
      </ul>
    </div>
  </div>

  <div id="copyright">
    <div class="container">
      <p>Copyright © 2017 CAPA INTÉRIM | <a href="">Mentions légales</a></p>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <script src="./js/bootstrap.min.js"></script>

  <script>
  </script>
</body>



</html>
