<!DOCTYPE html>
<html>
<head>

	<!-- Behavioral Meta Data -->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	    <link rel="icon" type="image/png" href="img/actuality/small-logo-01.png">
	    <link href='http://fonts.googleapis.com/css?family=Roboto:400,900,900italic,700italic,700,500italic,400italic,500,300italic,300' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
		<link href='css/style.css' rel='stylesheet' type='text/css'>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
			<script type="text/javascript" src="js/jquery.scrollTo.min.js"></script>
			<script type="text/javascript" src="js/jquery.localScroll.min.js"></script>
			<script type="text/javascript" src="js/jquery-animate-css-rotate-scale.js"></script>
		<script type="text/javascript" src="js/fastclick.min.js"></script>
		<script type="text/javascript" src="js/jquery.animate-colors-min.js"></script>
		<script type="text/javascript" src="js/jquery.animate-shadow-min.js"></script>
		<script type="text/javascript" src="js/main.js"></script>
		<script>



	<script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.12.4.js">
	</script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js">
	</script>
	<script type="text/javascript" class="init">


$(document).ready(function() {
	$('#example').DataTable();
} );
	</script>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Admin | Agences</title>
	<link rel="shortcut icon" type="image/png" href="/media/images/favicon.png">
	<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://www.datatables.net/rss.xml">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
	<style type="text/css" class="init">

	</style>
</head>
<body>

	<!-- HEADER -->

	<div id="wrapper-header">
		<div id="main-header" class="object">
	    <div class="top-rated object" style="color:red">AGENCES</div>
	        <div id="stripes"></div>
	    </div>
	</div>

<!-- HEADER -->

<!-- BUTTON -->
<br><br><br><br>
<center><button type="button" onclick="AddAgency()">Ajouter une agence</button></center>
<br>
<!-- BUTTON -->

<table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Nom de l'agence</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Téléphone</th>
                <th>E-mail</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
							<th>Nom de l'agence</th>
							<th>Adresse</th>
							<th>Ville</th>
							<th>Téléphone</th>
							<th>E-mail</th>
            </tr>
        </tfoot>
        <tbody>

					{% for agency in agencies %}
					<tr>
					<td><center>{{ agency.name }}</center></td>
					<td><center>{{ agency.adresse }}</center></td>
					<td><center>{{ agency.city }}</center></td>
					<td><center>{{ agency.telephone }}</center></td>
					<td>
						<center>
						<select id="agency_emails" style="width:200px; height:40px;">
						{% for email in emails %}
						{% if email.agency == agency.city %}
						<option value="email" align="center">{{ email.mail }}</option>
						{% endif %}
						{% endfor %}
					</select>
				</center>
				</td>
				</tr>
					{% endfor %}
						<!--
						<tr>
                <td>Aiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
            </tr>
					-->
    	</tbody>
    </table>
	</body>

<script>
function AddAgency()
{
	var path = "{{ path('add_agency') }}";

	window.location.replace(path);
}
</script>
